.Modal{
  background-color: rgba(0,0,0,0.3);
  height:100%;
  width: 100%;
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  z-index: 1;
}
.modal_content{
  height: 190px;
  margin: 550px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}
.modal_label{
  border-bottom: 1px solid #ddd;
  height:30px
}
.button_modal{
  display: flex;
  justify-content:end;
  margin: 30px;
  
}
button {
  border-radius: 3px;
  padding: 10px;
  box-shadow: 0px 8px 8px 0px rgb(0 ,0 ,0 , 0.4);
  border: none;
}

